<!-- 
      ! https://github.com/Prakhar-002
      ? © prakhar.katiyar.002@gmail.com
-->


<%    

      const {
            userAuthenticated,
            name,
            username,
            profilePhoto
      } = locals.sessionUser || {};

      const compressProfilePhotoURL = profilePhoto?.replace('upload/','upload/w_40,h_40,c_auto/q_auto/f_auto/');

%>

<header class="top-app-bar" data-top-app-bar>

      <% if (locals.route === '/createblogs') { %>
            <button class="icon-btn filled-tonal" aria-label="Go to previous page" data-back-btn>
                  <span class="material-symbols-rounded" aria-hidden="true">
                        chevron_left
                  </span>

                  <div class="state-layer"></div>
            </button>
      <% } %>

      <a href="/" class="logo">

            <img src="/images/logo-light.svg" width="98" height="24" alt="Inktale" class="light">
            <img src="/images/logo-dark.svg" width="98" height="24" alt="Inktale" class="dark">

      </a>

      <div class="trailing-action-wrapper">

            <% if (userAuthenticated) { %>

                  <% if (locals.route !== '/createblogs') { %>

                        <a href="/createblogs" class="btn btn-fill">
                              <span class="material-symbols-rounded leading-icon">
                                    edit
                              </span>

                              <p class="label-large">Write</p>

                              <div class="state-layer"></div>
                        </a>

                  <% } %>

                  <div class="menu-wrapper" data-menu-wrapper>

                        <button class="icon-btn" data-menu-toggler>
                              <div class="avatar">
                                    <% if (compressProfilePhotoURL) { %>

                                          <img src="<%= compressProfilePhotoURL %>" width="40" height="40" alt="<%= name %>" class="img-cover">

                                    <% } else { %>

                                          <p class="title-medium">
                                                <%= name.at() %>
                                          </p>

                                    <% } %>
                              </div>

                              <div class="state-layer"></div>
                        </button>

                        <div class="menu" data-menu>

                              <div class="list-item small">

                                    <div class="avatar">
                                          <% if (compressProfilePhotoURL) { %>

                                                <img src="<%= compressProfilePhotoURL %>" width="40" height="40" alt="<%= name %>" class="img-cover">

                                          <% } else { %>

                                                <p class="title-medium">
                                                      <%= name.at() %>
                                                </p>

                                          <% } %>
                                    </div>

                                    <div>
                                          <p class="label-small text-primary truncate-outline">
                                                <%= username %>
                                          </p>

                                          <p class="body-large text-on-surface">
                                                <%= name %>
                                          </p>
                                    </div>

                                    <div class="state-layer"></div>

                                    <a href="/profile/<%= username %>" title="<%= name %>" class="list-item-link"></a>

                              </div>

                              <div class="divider"></div>

                              <a href="/dashboard" class="menu-item">

                                    <span class="material-symbols-rounded" aria-hidden="true">
                                          dashboard
                                    </span>

                                    <p class="label-large">Dashboard</p>

                                    <div class="state-layer"></div>

                              </a>

                              <a href="/readinglist" class="menu-item">

                                    <span class="material-symbols-rounded" aria-hidden="true">
                                          bookmark
                                    </span>

                                    <p class="label-large">Reading List</p>

                                    <div class="state-layer"></div>

                              </a>

                              <a href="/settings" class="menu-item">

                                    <span class="material-symbols-rounded" aria-hidden="true">
                                          settings
                                    </span>

                                    <p class="label-large">Settings</p>

                                    <div class="state-layer"></div>

                              </a>

                              <div class="divider"></div>

                              <form action="/logout" method="post">
                                    <button class="menu-item">

                                          <span class="material-symbols-rounded" aria-hidden="true">
                                                logout
                                          </span>
            
                                          <p class="label-large">Sign out</p>
            
                                          <div class="state-layer"></div>

                                    </button>
                              </form>


                        </div>

                  </div>

            <% }  else { %>

                  <a href="/login" class="btn btn-text">
                        <p class="label-large">Login</p>

                        <div class="state-layer"></div>
                  </a>

                  <a href="/register" class="btn btn-fill">
                        <p class="label-large">Create account</p>

                        <div class="state-layer"></div>
                  </a>

            <% } %>

      </div>

      <!-- PROGRESS BAR -->
      <div class="progress-bar" data-progress-bar>
            <div class="progress-active-indicator"></div>
            <div class="progress-track"></div>
      </div>

</header>