<!-- 
      ! https://github.com/Prakhar-002
      ? © prakhar.katiyar.002@gmail.com
-->


<% 

      const {
            _id: currentBlogId,
            banner: {
                  url: bannerURL,
            },
            title,
            content,
            owner: {
                  name: authorName,
                  profilePhoto: {
                        url: profilePhotoURL
                  } = {},
                  username: authorUsername
            },
            reaction,
            readingTime,
            totalBookmarks,
            createdAt
      } = locals.blog;

      const compressedBannerURl = bannerURL?.replace('upload/','upload/w_960,h_420,c_auto/q_auto/f_auto/');

      // Destructure logged user data
      const {
            readingList: userReadingListedBlogs,
            reactedBlogs: userReactedBlogs
      } = locals.user || {}

      const compressProfilePhotoURL = profilePhotoURL?.replace('upload/','upload/w_40,h_40,c_auto/q_auto/f_auto/');

%>


<!DOCTYPE html>
<html lang="en">
<head>

      <!-- this will change the name (title) of upper window -->
      <%- include('../layouts/head.ejs', { title: `${title} | Inktale` }) %>


      <!-- custom js link -->
      <script type="module" src="/js/reaction.js"></script>
      <script type="module" src="/js/reading_list.js"></script>


      <script src="/js/script.js" defer></script>
      <script src="/js/count_visits.js" defer></script>

      <!-- Highlight.js cdn link -->
      <link rel="stylesheet" media="(prefers-color-scheme:dark)" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github-dark.min.css">
      <link rel="stylesheet" media="(prefers-color-scheme:light)" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/github.min.css">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>

      <script>hljs.highlightAll();</script>

</head>
<body>


      <!-- Top bar -->
      <%- include('../partials/top_app_bar.ejs') %>



      <main class="main">

            <!-- #BLOG DETAILS -->
            <div class="page blog-detail-page">
                  <div class="container">

                        <article class="blog-detail">

                              <figure class="blog-banner img-holder">
                                    <img src="<%=compressedBannerURl%>" width="960" height="420" alt="<%= title %>" class="img-cover">
                              </figure>

                              <div class="blog-author">

                                    <% if (compressProfilePhotoURL) { %>

                                          <figure class="avatar">
                                                <img src="<%= compressProfilePhotoURL %>" width="40" height="40" alt="<%= authorName %>" class="img-cover">
                                          </figure>

                                    <% } else { %>

                                          <p class="avatar title-medium">
                                                <%= authorName.at() %>
                                          </p>

                                    <% } %>

                                    <div class="leading-text">
                                          <a href="/profile/<%= authorUsername %>" class="title-medium text-on-surface text-link">
                                                <%= authorName %>
                                          </a>

                                          <p class="body-small text-on-surface-variant">
                                                Posted on <%= new Date(createdAt).toLocaleDateString(
                                                      'en-US', {
                                                            month: 'short',
                                                            day: 'numeric',
                                                            year: 'numeric'
                                                      }
                                                ) %>
                                          </p>
                                    </div>

                                    <% if (authorUsername === locals.sessionUser?.username) { %>
                                          <a href="/blogs/<%= currentBlogId %>/edit" class="btn filled-tonal">
                                                <span class="material-symbols-rounded leading-icon" aria-hidden="true">
                                                      edit
                                                </span>

                                                <p class="label-large">Edit</p>

                                                <div class="state-layer"></div>
                                          </a>
                                    <% } %>

                              </div>

                              <div class="blog-content">

                                    <h1 class="title healine-large text-on-surface">
                                          <%= title %>
                                    </h1>

                                    <div class="content-markdown text-on-surface-variant">
                                          <%- locals.markdown.render(content) %>
                                    </div>

                              </div>

                              <div class="blog-actions">

                                    <div class="action-item">

                                          <button class="icon-btn filled-tonal <%=userReactedBlogs?.includes(currentBlogId) ? 'active' : '' %>" data-reaction-btn>
                                                <span class="material-symbols-rounded icon" aria-hidden="true">
                                                      favorite
                                                </span>

                                                <div class="state-layer"></div>
                                          </button>

                                          <p class="label-large text-on-surface-variant">
                                                <span data-reaction-number><%= reaction %></span>
                                                Reactions
                                          </p>

                                    </div>

                                    <div class="action-item">

                                          <button class="icon-btn filled-tonal <%=userReadingListedBlogs?.includes(currentBlogId) ? 'active' : '' %>" data-reading-list-btn>
                                                <span class="material-symbols-rounded icon" aria-hidden="true">
                                                      bookmark
                                                </span>

                                                <div class="state-layer"></div>
                                          </button>

                                          <p class="label-large text-on-surface-variant">
                                                <span data-reading-list-number><%= totalBookmarks %></span>
                                                Bookmarks
                                          </p>

                                    </div>

                              </div>

                        </article>

                        <!-- # More Blog -->

                        <% if (locals.ownerBlogs.length) { %>
                              <section class="more-blog">

                                    <h2 class="title title-large text-on-surface">
                                          Read Next
                                    </h2>

                                    <div class="blog-list">

                                          <% locals.ownerBlogs.forEach(blog => { %>
                                                <%- include('../partials/card.ejs', { blog }) %>
                                          <% }) %>

                                    </div>

                              </section>
                        <% } %>

                  </div>
            </div>

      </main>



      <!-- Footer -->
      <%- include('../layouts/footer.ejs') %>


</body>
</html>